<!DOCTYPE html>
<html>
    <head>
        <base href="/">
        <title>Angular Messenger</title>
        <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel='stylesheet' href='/stylesheets/main.css'/>
    </head>
    <body>
        <my-app>Loading...</my-app>
        <script src="/js/app/bundle.js"></script>
    </body>
</html>
